<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="autopilot.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="autopilot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="autopilot.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <autopilot.config>
            <setting name="warnOnFolderDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="warnOnFileDelete" serializeAs="String">
                <value>True</value>
            </setting>
        </autopilot.config>
    </userSettings>
    <applicationSettings>
        <autopilot.Properties.Settings>
            <setting name="WarnOnFolderDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnOnFileDelete" serializeAs="String">
                <value>True</value>
            </setting>
        </autopilot.Properties.Settings>
        <autopilot.Settings>
            <setting name="warnOnFolderDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="warnOnFileDelete" serializeAs="String">
                <value>True</value>
            </setting>
        </autopilot.Settings>
    </applicationSettings>
</configuration>